In [ ]:
# Problem Set 2
#--------------------------------------------- Question 1------------------------------------------------
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

In [ ]:
Answer: When the last expression (a) is evaluated, the value we get is 6. 
        We have first defined the value to a to 0.
        In the very first step we call function b(), wherein a is defined as global variable.
        The value of a is calculated by called function c(a), which return the value of a as a = 0 + 2 = 2.
        Thus we get the answer of first b() as 2. 
        Again, if we call function b() twice, it value gets doubled as a = 2 + 2 = 4.
        Calling function b() thrice, its value becomes a = 4 + 2 = 6.
        Finally, printing the value of a gives output as 6.

In [ ]:
# ----------------------------------------------Question 2---------------------------------------------------------
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [23]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError as e:
        print("File " + file_name + " not found.")

In [21]:
fileLength('w3c.txt')

396

In [24]:
fileLength('3c.txt')

File 3c.txt not found.

In [ ]:
# ---------------------------------------------------- Question 3----------------------------------------------------
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [25]:
class Marsupial:
    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self,item):
        return self.pouch.append(item)
    def pouch_contents(self):
        return self.pouch

In [26]:
m = Marsupial()

In [27]:
m.put_in_pouch('doll')

In [28]:
m.put_in_pouch('firetruck')

In [29]:
m.put_in_pouch('kitten')

In [30]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [31]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x +=dx
        self.y +=dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [32]:
 k = Kangaroo(0,0)

In [33]:
 print(k)

I am a Kangaroo located at coordinates (0,0)

In [34]:
 k.put_in_pouch('doll')

In [35]:
k.put_in_pouch('firetruck')

In [36]:
 k.put_in_pouch('kitten')

In [37]:
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [38]:
 k.jump(1,0)

In [39]:
 k.jump(1,0)

In [40]:
 k.jump(1,0)

In [41]:
 print(k)

I am a Kangaroo located at coordinates (3,0)

In [ ]:
# ------------------------------------------------Question 4----------------------------------------------------------
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [87]:
def collatz(num):
    print(num)
    if num % 2 == 0:
        return collatz(num // 2)
    elif num > 1:
        return collatz(3 * num + 1)

In [88]:
collatz(10)

10
5
16
8
4
2
1

In [89]:
collatz(1)

1

In [ ]:
# ----------------------------------------------------Question 5---------------------------------------------------
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [122]:
def binary(n):
    if n > 1:
        binary(n//2)
    print(n % 2,end = '')

In [123]:
binary(0)

0

In [124]:
binary(1)

1

In [125]:
binary(3)

11

In [126]:
binary(9)

1001

In [ ]:
# ---------------------------------------------------Question 6 -------------------------------------------------
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [278]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    inHeading = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.inHeading = True
        if tag == "h2":
            self.inHeading = True
        if tag == "h3":
            self.inHeading = True
        if tag == "h4":
            self.inHeading = True
        if tag == "h5":
            self.inHeading = True
        if tag == "h6":
            self.inHeading = True
    def handle_data(self, data):
        if self.inHeading:
            print(" " + data)
    def handle_endtag(self, tag):
        if tag =="h1":
            self.inHeading = False
        if tag =="h2":
            self.inHeading = False
        if tag == "h3":
            self.inHeading = False
        if tag == "h4":
            self.inHeading = False
        if tag == "h5":
            self.inHeading = False
        if tag == "h6":
            self.inHeading = False

In [279]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
 Principles

In [ ]:
# -----------------------------------------------Question 7--------------------------------------------------
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [280]:
visited = set() 

def webdir(url):
   
    global visited     
    visited.add(url)

    links = analyze(url)

    for link in links:
        if link not in visited:
            try:
                webdir(link)
            except:
                pass

In [281]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser

def analyze(url):
    
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()         

    for link in urls:
        print(url)
        print(link)

    return urls

In [282]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html')

http://reed.cs.depaul.edu/lperkovic/one.html
http://reed.cs.depaul.edu/lperkovic/two.html
http://reed.cs.depaul.edu/lperkovic/one.html
http://reed.cs.depaul.edu/lperkovic/three.html
http://reed.cs.depaul.edu/lperkovic/two.html
http://reed.cs.depaul.edu/lperkovic/four.html
http://reed.cs.depaul.edu/lperkovic/four.html
http://reed.cs.depaul.edu/lperkovic/five.html
http://reed.cs.depaul.edu/lperkovic/five.html
http://reed.cs.depaul.edu/lperkovic/four.html
http://reed.cs.depaul.edu/lperkovic/five.html
http://reed.cs.depaul.edu/lperkovic/one.html
http://reed.cs.depaul.edu/lperkovic/five.html
http://reed.cs.depaul.edu/lperkovic/two.html
http://reed.cs.depaul.edu/lperkovic/three.html
http://reed.cs.depaul.edu/lperkovic/four.html

In [ ]:
# ------------------------------------------------Question 8--------------------------------------------------
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [166]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\khushboo kodwani\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: six in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlparse in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pickleshare in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: matplotlib-inline in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: decorator in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\khushboo kodwani\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [172]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather (City text, Country text, Season text,Temperature float,Rainfall float)")

In [180]:
cur.execute('SELECT * FROM Weather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9)]

In [179]:
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")

In [181]:
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")

cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4)")

cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")

cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7)")

cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")

cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")

cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")

cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")

cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")

cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")

cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [182]:
# -----------------------------------------a) All the temperature data.-----------------------------------------------------

cur.execute('SELECT Temperature FROM Weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [183]:
# ------------------------------b) All the cities, but without repetition.-------------------------------------------
cur.execute('SELECT distinct(City) FROM Weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [185]:
# -------------------------------c) All the records for India.-------------------------------------------------------
city = 'India'
cur.execute("SELECT * FROM Weather WHERE Country = ?",(city,))
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [186]:
# -----------------------------------d) All the Fall records.----------------------------------------------------------
season = 'Fall'
cur.execute("SELECT * FROM Weather WHERE Season = ?",(season,))
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [188]:
# --------e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.---------------
cur.execute("SELECT City,Country,Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [191]:
# ----f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.---
season = 'Fall'
cur.execute("SELECT City,Country FROM Weather WHERE Season = ? and Temperature > 20 order by Temperature desc",(season,))
cur.fetchall()

[('Mumbai', 'India'), ('Cairo', 'Egypt')]

In [192]:
# ---------------------------------------g) The total annual rainfall for Cairo.----------------------------------------------
city = 'Cairo'
cur.execute("SELECT SUM(Rainfall) FROM Weather WHERE City = ?",(city,))
cur.fetchall()

[(27.6,)]

In [193]:
# ---------------------------------------h) The total rainfall for each season.------------------------------------------------
cur.execute("SELECT Season,SUM(Rainfall) FROM Weather group by Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [ ]:
# ----------------------------------------------------Question 9-----------------------------------------------------
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [146]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newlist = []
for i in range(len(words)):
    newlist = [x.upper() for x in words]
    
print(newlist)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [147]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newlist = []
for i in range(len(words)):
    newlist = [x.lower() for x in words]
    
print(newlist)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [148]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newlist = []
for i in words:
    newlist.append(len(i))
    
print(newlist)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [154]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
for i in words:
    newlist = [[i.upper(),i.lower(),len(i)] for i in words]
print(newlist)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [159]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newlist = []
for i in range(len(words)):
    newlist = [x for x in words if len(x) > 4]
print(newlist)

['quick', 'brown', 'jumps']